<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

<script src="https://kit.fontawesome.com/ca052c1b0a.js" crossorigin="anonymous"></script>

<title>{{title}} - Orenchii</title>
<link rel="icon" type="image/x-icon" href="">
<link rel="stylesheet" href="/css/style.css"/>
	{% if pageStyles %}
        <link rel="stylesheet" href="{{ pageStyles }}">
    {% endif %}