<div class="footer-content">
	<div class="footer-divider"></div>

    <div class="credit">
		<p>
			&copy; <span id="copyright-year"></span> Orange Cream Adventures @Cidnets. All Rights Reserved.
		</p>
    </div>
</div>
