<div class="wooden-slats">
    </div>
    
    <div class="footer-content">
    <div class="links">
      <a href="/">Home</a>
      <span class="divider">•</span>
      <a href="/archive">Archive</a>
      <span class="divider">•</span>
      <a href="#">Links</a>
	 </div>
	<div class="footer-logo">
		<img src="/assets/logo-colored.png" />
	</div>
	<div class="credit">
		<p>
			Coded &amp Designed by <a href="https://sydgarcia.pages.dev/links/">Syd Garcia @Cidnets</a>
		</p>
		<p>
			&copy; <span id="copyright-year"></span> Syd Garcia @Cidnets. All Rights Reserved.
		</p>
    </div>
	</div>