<div id="mobile-calendar-widget" class="mobile-calendar-widget mobile">
	<div class="mobile-calendar-container">
		<div id="mobile-current-date-display">
		</div>
		<div id="mobile-mini-calendar">
		</div>
	</div>
</div>
<div class="mobile-filler-container mobile mobile-one">
	<img src="/assets/Robot-love.gif"/>
</div>
<div class="mobile-filler-container mobile mobile-two">
	<div class="moon-phase-container">
		<img id="moon-icon" class="moon-icon" src="" alt="Current Moon Phase">
		<span id="moon-phase-text" class="moon-phase-text"></span>
	</div>
</div>