<div class="site-bg">
	<div class="site-bg-img-container">
		<img src="/assets/logo-colored.png" class="desktop-bg">
	</div>
	
	<div class="site-credit">
		<div class="credit">
			<p>
			&copy; <span id="copyright-year"></span> Orange Cream Adventures @Cidnets. All Rights Reserved.
			</p>
		</div>
	</div>
</div>