<div class="site-bg">
	<div class="site-bg-img-container">
		<div class="site-logo-container">
			<img src="/assets/sydgarcia-heart.svg" class="desktop-bg">
			<div class="desktop-credit credit">
				<p>
				&copy; <span id="copyright-year"></span> Syd Garcia @Cidnets. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</div>