<div class="modal-container" id="my-modal">
    <div class="modal-overlay"></div>
    <button class="modal-nav-btn prev-btn" aria-label="Previous Image"><div>◀</div></button>
    <button class="modal-nav-btn next-btn" aria-label="Next Image"><div>▶</div></button>
    <div class="modal-buttons">
	    <button class="modal-info-trigger">info</button>
        <button class="modal-close-btn" aria-label="Close modal">&times;</button>
    </div>
	<div class="modal-img-info">
		<h3 id="modal-title" class=".modal-title"></h3>
		<p id="modal-date" class=".modal-date"></p>
		<p id="modal-medium" class=".modal-medium"></p>
		<p id="modal-size" class=".modal-size"></p>
	</div>
	<img src="" alt="Full-size artwork" class="modal-image modal-content">
</div>