<!DOCTYPE html>
<html lang="en">
  <head>
	{% include "basehead.njk" %}
  </head>
  
<body>
	{% include "sitebg.njk" %}
  <main id="desktop">

	<div class="app-drawer">
		{% for app in desktop_apps %}
		<a href="#" class="app-launcher app-icon" data-title="{{ app.title }}" data-url="{{ app.url }}" data-id="{{ app.id }}" data-window-target="new">
			<div class="icon-visual">{{ app.icon }}</div>
			<span>{{ app.title }}</span>
		</a>
		{% endfor %}
	</div>
	
    {{ content | safe }}    
  </main>
    {% include "navbar.njk" %}
  <footer id='footer' class="footer">  
  </footer>
   
	<div id="context-menu">
		<div class="context-menu-item" id="context-menu-copy">Copy</div>
		<div class="context-menu-item" id="context-menu-paste">Paste</div>
		<div class="context-menu-divider" id="copy-paste-divider"></div>
		<div class="context-menu-item" id="context-menu-minimize">Hide</div>
		<div class="context-menu-item" id="context-menu-maximize">Maximize</div>
		<div class="context-menu-item" id="context-menu-close">Close</div>
		<div class="context-menu-divider" id="min-max-divider"></div>
		<div class="context-menu-item" id="context-menu-close-all">Close All Windows</div>
	</div>
	{% include "scripts.njk" %}
  </body>
</html>