---
layout: layouts/base.njk
templateClass: tmpl-home
title: Hello!
description: This is the homepage
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">
    {# After the the content defined in index.md, list the blog posts in the collection #}
	<h1>Featured Posts</h1>
    <ul class="homepage posts-grid">
      {%- for post in collections.posts.slice(0,4) -%}
      <li {% if page.url == post.url %} aria-current="page"{% endif %}>
         <a href="{{ post.url }}">
			{% if loop.first and post.data.featuredImage %}
			<div class="postsgrid-img-container">
				<img src="{{post.data.featuredImage}}" />
			</div>
			{% endif %}
           <div class="dongle date">
             {{ post.data.page.date | myDateFormat }}
           </div> 
           <h1 class="jua">
             {{ post.data.title }}
           </h1>
         </a>
      </li>
      {%- endfor -%}
    </ul>
    <div>
      <a href="/archive" class="archive-button">View all posts</a>
    </div>
</div>
<div id="about" class="section">
		<div class="content">
		{% set my_content %}{% include "about.md" %}{% endset %}
			{{ my_content | markdownify | safe }}
		</div>
</div>
<div class="content random-post">
	<h1>Don't know where to start?</h1>
	<h2>Let me surprise you!</h2>
	<button id="random-post-button" class="random-post-button">Take Me to a Random Post!</button>
</div>
<div class="content">
	{{ content | safe }}
  </div>
</div>