---
layout: layouts/base.njk
templateClass: tmpl-home
---

	<div id="page-content" class="content page post-content-bg" data-pagefind-body>
		<div class="mobile-content-wrapper">
			{% if pageTitle%}
			<h1>{{ pageTitle }}</h1>
			{% endif %}
			{{ content | safe }}
		</div>
	</div>
