---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div id="page-content" class="post content">
	<div class="post-navigation-bar">
		<div class="post-navigation-arrows">
			{% if nextPost.url %}
			<a href="{{ nextPost.url }}" data-window-target="current" data-title="{{ nextPost.data.title }}">&#x25C4;</a>
			{% else %}
			<span class="disabled">&#x25C4;</span>
			{% endif %}
			
			{% if prevPost.url %}
			<a href="{{ prevPost.url }}" data-window-target="current" data-title="{{ prevPost.data.title }}">&#x25BA;</a>
			{% else %}
			<span class="disabled">&#x25BA;</span>
			{% endif %}
		</div>
		<div class="address-bar-container">
			<div class="address-bar">
				<span>bngo.pages.dev/blog/{{ title }}/</span>
			</div>
		</div>
		<a href="/archive/" class="app-launcher archive-button" data-title="Archive" data-url="/archive/" data-id="archive" data-window-target="new">Archive</a>
	</div>
	<div class="post-scroll-wrapper">
		<div class="post-content" data-pagefind-body>
			<h1 class="post-title">{{title}}</h1>
			{% if featuredImage %}
			<img src="{{featuredImage}}"/>
			{% endif %}
			{{ content | safe }}
		</div>
	</div>
</div>