---
layout: layouts/page.njk
templateClass: tmpl-search
---

	<div id="page-content" class="content page">
		{% if pageTitle%}
		<h1>{{ pageTitle }}</h1>
		{% endif %}
		{{ content | safe }}

		<div id="search"></div>
	</div>
