@import "colors.css";
@import "fonts.css";

:root {
	--wrapper-height: 85vh;
	--image-max-width: 320px;
	--content-max-width: 900px;
	
	--scrollbar-color: var(--pink);
	--scrollbar-hover: var(--mauve);
	
	--icon-size: 150px;
	
	/* -- FONTS -- */
	--links-header: "Cherry Bomb One";
	--links-font: "Sour Gummy";
	
	--text-outline: var(--lpurple);
}

* {
	box-sizing: border-box;
	background-clip: padding-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--background);
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 1rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

body {
	background-color: var(--site-bg);
	background-image: url("/assets/Heart-bg-cream.png");
	font-family: var(--links-font);
	color: var(--text);
}

.wrapper {
	max-width: var(--content-max-width);
	margin: auto auto 48px;
	padding: 0 1rem;
}
.content {
	text-align: center;
}

.links-bg-container, footer {
	border-image: var(--f-border-white);
	background-color: var(--f-white);
}
.links-bg-container {
	padding-top: 8px;
	border-bottom: var(--f-border);
}
.inner {
	width: 100%;
	border-bottom: 2px dashed var(--green);
}

/* FOOTER */
footer {
	margin-top: 80px;
	padding-bottom: 60px;
	text-align: center;
	border-top: var(--f-border);
}
.footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}
.footer-links a {
	display: inline;
	margin: 0;
	height: 1.5rem;
}
.footer-divider {
    margin: 0 1rem;
}
.credit {
	margin-top: 2rem;
}

/* HEADER */
.header-container {
	width: 100%;
	padding-top: 48px;
}
.header-container .header {
}
.header-container .wrapper {
	margin: 0 auto;
}
.header-container, ul {
	margin-bottom: 2.5rem;
}
.icon-container {
	width: var(--icon-size);
	height: var(--icon-size);
	margin: auto;
	aspect-ratio: 1/1;
	/* box-shadow: 0 0 8px var(--blue); */
	border-radius: 50%;
	overflow: clip;
}
.icon-container img {
	width: var(--icon-size);
	object-fit: cover;
}
.header-title {
	margin-bottom: 0;
	font-size: 2.25rem;
	color: var(--orange);
	/*
	-webkit-text-stroke: 1px var(--orange);
	text-stroke: 1px var(--orange);
	*/
}
.header-description {
	font-size: 1.1rem;
	font-weight: bold;
	color: salmon;
	/*
	text-shadow:
    -1px -1px 0 var(--text-outline),
    1px -1px 0 var(--text-outline),
    -1px 1px 0 var(--text-outline),
    1px 1px 0 var(--text-outline);
	*/
}

/* TITLES */
.section-header {
	color: var(--orange);
}
/*
.contact-title {
	color: #79b957;
}
.mainLinks-title {
	color: cornflowerblue;
}
.socials-title {
	color: #ff79b2;
}

/* LINKS */
h1, h2, h3, h4 {
	font-family: var(--links-header);
}

.section::after {
	display: block;
	width: 100%;
	height: 22px;
	margin: 1rem auto;
	content: "";
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url("/assets/Section-dividers.png");
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
	margin-bottom: 10px;
}
a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 400px;
	height: 56px;
}
a:hover {
	border-image: var(--f-border-yellow);
	background-color: var(--f-yellow);
}

.contact-link-container, .socials-link-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}
a.contact-link, a.social-link {
	aspect-ratio: 1/1;
}
.links-icon {
	position: absolute;
	left: 1rem;
}
a.contact-link, a.social-link, .links-icon {
	font-size: 1.5rem;
}

/* FRILLY BORDERS CLASSES */
.frilly-link {
	border: var(--f-border);
	border-image-slice: 33%;
	border-image-repeat: round;
}
/* RANDOM BORDERS CLASSES */
.frilly-border-base {
	border-image-source: url("/assets/Border-base.png");
	background-color: var(--f-white);
}
.frilly-border-blue {
	border-image-source: url("/assets/Border-blue.png");
	background-color: var(--f-blue);
}
.frilly-border-cream {
	border-image-source: url("/assets/Border-cream.png");
	background-color: var(--cream);
}
.frilly-border-peach {
	border-image-source: url("/assets/Border-peach.png");
	background-color: var(--f-peach);
}
.frilly-border-pink {
	border-image-source: url("/assets/Border-pink.png");
	background-color: var(--f-pink);
}
.frilly-border-purple {
	border-image-source: url("/assets/Border-purple.png");
	background-color: var(--f-purple);
}