.content.page h1,
.content.page h2,
.content.page h3,
.content.page h4,
.content.page h5 {
	margin: 1rem auto;
	text-align: center;
	text-wrap: balance;
}
.window-content h1::after,
.window-content h2::after,
.window-content h3::after {
	display: block;
	margin-top: 0.5rem;
	content: url('/assets/Section-dividers.png');
}

/* WELCOME WINDOW */
.window-welcome .content{
	text-align: center;
}

/* SEARCH WINDOW */
.window-search .page {
	text-align: center;
}
.window-search .page .pagefind-ui__drawer {
	text-align: left;
}
.window-search .page .pagefind-ui__drawer .pagefind-ui__result {
	border-width: 2px;
	border-color: var(--green);
	padding: 0.5rem 0;
}
.window-search .page .pagefind-ui__drawer .pagefind-ui__result:not(:first-child) {
	border-top-style: dashed;
}
.window-search .page .pagefind-ui__drawer .pagefind-ui__result:not(:last-child) {
	border-bottom-style: dashed;	
}
.window-search .page .pagefind-ui__drawer .pagefind-ui__result a {
	text-decoration: var(--accent-2-active) wavy underline;
	font-family: var(--header);
	font-size: 1.3rem;
}
.window-search .page .pagefind-ui__drawer img {
	display: none;
	max-width: 500px;
}
.window-search .page .pagefind-ui__drawer mark {
	background-color: var(--accent-5);
}

/* RESUME */
hr {
	border: 2px dashed var(--green);
	border-bottom: none;
}
.resume-header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.resume-header .resume-header-left,
.resume-header .resume-header-center,
.resume-header .resume-header-right {
	flex-grow: 1;
	max-width: 33.33%;
}
.resume-header .resume-header-center,
.resume-header .resume-header-right {
	list-style-type: none;
}
.resume-header .resume-header-left {
	text-align: left;
}
.resume-header .resume-header-center {
	text-align: center;
}
.resume-header .resume-header-right {
	text-align: right;
}
@container (max-width: 576px) {
    .resume-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .resume-header .resume-header-left,
    .resume-header .resume-header-center,
    .resume-header .resume-header-right {
        width: 100%;
		max-width: 100%;
        text-align: left;
    }
}
