.post-background, .page-content-background {
	position: relative;
	height: 82vh;
	padding: 0.5rem;
	border-radius: 1.5rem;
}
.post-background {
  border: 2px dotted var(--accent-1);
  background-image: url("/assets/g51.png");
}
.post-content-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid var(--accent-1);
  background-color: var(--background);
  overflow: hidden;
}

.post-content {
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.post-write-up p:has(img) {
	width: 40%;
	margin: 1rem 1rem 1rem 0;
	float: left;
	padding: 0.25rem;
	background-color: white;
	border: 7px solid transparent;
	border-image: url("/assets/Border-base.png") 33% round;
	top: 100px;
}
.post-write-up img {
	border: 2px dashed var(--accent-4);
	border-radius: 0.5rem;
}

.post-content .post-title {
  background: var(--accent-5);
  background-clip: padding-box;
  border-bottom: 30px solid transparent;
  border-image: url("/assets/Large-border-purple.png") 30% round;
  padding: 5rem 1rem 0;
}
.post-title .postTitle {
  color: var(--text);
  font-family: var(--font-family-header-2);
  text-align: center;
  margin: 1rem 0 0;
}
.post-title .date {
	width: fit-content;
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
	color: var(--text);
	border-bottom: 2px dotted var(--accent-2);
}

.post-content .post-write-up {
  margin: 0.75rem 1.5rem 4rem;
}

.post-write-up h1,
.post-write-up h2,
.post-write-up h3,
.post-write-up h4,
.post-write-up h5 {
	margin: 2rem 0;
	text-align: center;
	text-wrap: balance;
}
.post-write-up ol,
.post-write-up ul,
.post-write-up p {
	text-wrap: wrap;
	margin-bottom: 0.5rem;
}
.post-write-up ul,
.post-write-up ol,
.post-write-up pre {
  margin-left: 1rem;
}


/* Post Control Buttons */
.post-content-container .control-buttons-top,
.post-content-container .control-buttons-bottom {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}
.post-content-container .control-buttons-top {
  position: absolute;
  top: 0;
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  text-align: center;
}
.post-content-container .control-buttons-top div {
  width: 50%;
  display: flex;
}
.post-content-container .control-buttons-top a {
  display: inline-block;
  border: 2px dashed var(--accent-4);
  border-radius: 1rem;
  background-color: white;
  outline: 2px solid white;
  max-width: 120px;
  width: 50%;
  height: 2.5rem;
  padding-top: 2px;
  overflow: hidden;
}
.post-content-container .control-buttons-top a:not(:last-child) {
  margin-right: 1rem;
}
.post-home {
	position: relative;
  margin-left: auto;
}
.post-home::before,
.post-home::after,
.post-home:hover::before,
.post-home:hover::after {
	content: url("/assets/tiny-hearts-peach.png");
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
}
.post-home::before {
	left: 3px;
}
.post-home::after {
	right: 3px;
}
.post-home::before,
.post-home::after {
	opacity: 0;
}
.post-home:hover::before,
.post-home:hover::after {
	opacity: 1;
}
.control-buttons-top a:hover {
  color: var(--accent-4);
}

.control-buttons-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  border-top: 7px solid transparent;
  border-image: url("/assets/Border-peach.png") 33% round;
  background-color: #ffd5bd;
  background-clip: padding-box;
}
.control-buttons-bottom div {
    width: 50%;
}
.control-buttons-bottom a {
  display: flex;
  height: 2rem;
  overflow: hidden;
  border: none;
}
.control-buttons-bottom .bottom-prev a {
  text-align: left;
  justify-content: left;
}
.control-buttons-bottom .bottom-next a {
  text-align: right;
  justify-content: right;
}
.control-buttons-bottom a:hover {
  background: transparent;
  color: var(--accent-4);
  text-shadow: 0 0 3px white;
}
.control-buttons-bottom i {
  margin: 0 0.5rem;
  padding-top: 0.45rem;
}
a.top-next,
a.top-prev {
	position: relative;
}
a.top-next::before,
a.top-next::after,
a.top-prev::before,
a.top-prev::after,
a.top-next:hover::before,
a.top-next:hover::after,
a.top-prev:hover::before,
a.top-prev:hover::after {
	content: url("/assets/tiny-hearts-peach.png");
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
}
a.top-next::before,
a.top-next::after,
a.top-prev::before,
a.top-prev::after {
	opacity: 0;
}
a.top-next:hover::before,
a.top-next:hover::after,
a.top-prev:hover::before,
a.top-prev:hover::after {
	opacity: 1;
}
a.top-next::before,
a.top-next:hover::before,
a.top-prev::before,
a.top-prev:hover::before {
	left: 3px;
}
a.top-prev::after,
a.top-prev:hover::after,
a.top-next::after,
a.top-next:hover::after {
	right: 3px;
}

a.disabled:hover::before,
a.disabled:hover::after,
.disabled a:hover::before,
.disabled a:hover::after {
  content: none;
}
.control-buttons-top a.disabled,
.control-buttons-top a.disabled:hover,
.control-buttons-bottom .disabled a,
.control-buttons-bottom .disabled a:hover{
  opacity: 0.6;
  cursor: default;
  color: var(--text);
}

/* Canopy */
.canopy-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 70px;
  background-image: url("/assets/orange-mini-canopy.png");
  background-size: 100px;
  background-position: 50% 100%;
}

@media screen and (max-width: 576px) {
	.canopy-top {
		height: 3rem;
	}
	.post-content-container .control-buttons-top {
		height: 2rem;
	}
	.post-content-container .control-buttons-top a {
		width: 33%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
  .control-buttons-top a span {
    display: none;
  }
  .post-content p:has(img) {
	  width: 100%;
  }
}